# Arquivos compilados
*.class
*.jar
*.war
*.ear

# Configuração IDEs
/.idea/
/*.iml
/.project
/.classpath
/.settings/
/target/
*.log

# Dependências baixadas pelo Maven
/.mvn/
pom.xml.tag
pom.xml.releaseBackup
dependency-reduced-pom.xml
build.log
target/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
hs_err_pid*
*.properties